<div class="mx-auto max-w-4xl justify-center items-center m-2">
    <div class="max-w-md text-gray-900 bg-white border border-gray-200 mx-auto text-center shadow-sm rounded-md hover:shadow-lg">
        <h1 class="text-xl">{{stock.name}}</h1>
        <ul>
            <li>Code: {{stock.code}}</li>
            <li [class]="stock.isPositiveChange() ? 'text-green-600' : 'text-red-600'">Price: ${{stock.price}}</li>
        </ul>
        <div class="flex flex-row justify-center">
            <button
            *ngIf="!stock.favorite"
            class="button rounded-md bg-gray-800 hover:bg-gray-900 text-white shadow-sm p-2 m-2 hover:shadow-md"
            [disabled] = "stock.favorite"
            (click)="toggleFavorite()">Add To Favorites!</button>
            <button (click)="changeStockPrice()" class="button rounded-md bg-green-800 hover:bg-green-900 text-white shadow-sm p-2 m-2 hover:shadow-md">Change Price</button>
        </div>
    </div>
</div>
