<div class="text-center flex flex-col justify-center items-center">
  <h1 class="text-3xl font-bold p-5 text-white">
    Welcome to {{ title }}!
  </h1>
  <app-stock-item [stock]="stock" (toggleFavorite)="onToggleFavorite($event)">
    <div class="flex flex-row justify-center">
      <button
      *ngIf="!stock.favorite"
      class="button rounded-md bg-gray-800 hover:bg-gray-900 text-white shadow-sm p-2 m-2 hover:shadow-md" [disabled] = "stock.favorite">Add To Favorites!</button>
      <button (click)="changeStockPrice()" class="button rounded-md bg-green-800 hover:bg-green-900 text-white shadow-sm p-2 m-2 hover:shadow-md">Change Price</button>
  </div>
  </app-stock-item>
  <button (click)="changeStock()"
    class="button rounded-md bg-gray-300 hover:bg-gray-400 text-gray-900 shadow-sm p-2 m-2 hover:shadow-md">Change
    stock</button>
  <button (click)="changeStockPrice()"
    class="button rounded-md bg-gray-300 hover:bg-gray-400 text-gray-900 shadow-sm p-2 m-2 hover:shadow-md">Change
    stock's price</button>
</div>